/* Css Reset */
* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    max-width: 100%;
    background-color: #ffdcb2;
}

/* Navbar Section */
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    background-color: #ffdcb2;
    padding: 1vw 2vw;
    font-weight: bold;
    position: fixed;
    width: 100%;
}
.nav li {
    margin: 0px 2vw;
    padding: 0.66vw 2vw;
    list-style: none;
    border: 2px black solid;
    background-color: aliceblue;
    border-radius: 16px;
    cursor: pointer;
}

#sub {
    
     /* margin: 0vw 0vw 0vw 28vw; */
    padding: 1.3vw 3vw;
    position: absolute;
    left: 83%;
    background-color: #faf09a;
    }
    
/* .container::before {
    content: "";
    position: absolute;
    background-image: url(../images/Snack.jpg);
     background-position: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
} */

/* Image Section */
.image {
    background-image: url(../images/Snack.jpg);
    height: 54vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* What We Offer Section */
.products {
    font-size: 2.3vw;
    text-align: center;
    margin: 2vw;
    font-weight: bolder;
}
h2 {
    font-size: 2.4vw;
    margin: 5vw 2vw 4vw 2vw;
    background-color: #c88751;
}
.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.pngs {
    width: 16vw;
    height: 12vw;
}
.offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    width: 29vw;
    margin: 1vw;
    border-radius:10px;
    background-color: #ffffff;
}
.offer p {
    line-height: 1.3;
    padding: 2vw 3vw 1vw;
}
.offer h3 {
    text-decoration: underline;
    margin-top: 1vw;
}
.btn {
    width: 10vw;
    height: 3vw;
    margin: 1vw 0vw 2vw;
    background-color: #faf09a;
    border: 2px solid black;
    cursor: pointer;
}
.off {
    width: 9vw;
}

/* Combo Offers Section */
.combo {
    display: flex;
    align-items: center;
    padding: 0vw 3vw;
    background-color: #d48e5b;
    height: 25vw;
}
.combo img {
    width: 23vw;
    height: 16vw;
}

/* Subscribe Page */
.Sub {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 33vw;
    border: 2px solid black;
    margin: 10vw 27vw;
}
.Sub h4 {
    font-size: 3vw;
}
#email {
    width: 28vw;
    height: 3vw;
    margin: 4vw;
}
#button {
    width: 13vw;
    height: 3vw;
    background: #faf09a;
    border: 2px solid black;
    box-shadow: aqua;
    border-radius: 11px;
    cursor: pointer;
}

/* Combo Offers Section */
/* .combo {
    text-align: center;
    font-size: 2.3vw;
}
.combooffer {
    display: flex;
    flex-direction:  column;
    text-align: center;
}
#combooffer {
    width: 35vw;
}
.contain {
    display: flex;
    align-items: center;
} */